{% doc %}
  Renders detailed, structured product information from product metafields.

  @param {product} product - The current product.
{% enddoc %}

{%- liquid
  assign feature_bullets = product.metafields.custom.feature_bullets.value
  assign included_items = product.metafields.custom.included_items.value
  assign luggage_type = product.metafields.custom.luggage_type.value
  assign shell_material = product.metafields.custom.shell_material.value
  assign case_dimensions = product.metafields.custom.case_dimensions.value
  assign case_weight = product.metafields.custom.case_weight
  assign capacity = product.metafields.custom.capacity
  assign expansion_size = product.metafields.custom.expansion_size
  assign care_instructions = product.metafields.custom.care_instructions
  assign collection_family = product.metafields.custom.collection_family.value
  assign packing_cube_count = product.metafields.custom.packing_cubes_included.value | default: 0 | plus: 0
  assign is_kit = product.metafields.custom.is_kit.value
  assign color_count = 0

  for product_option in product.options_with_values
    assign option_name = product_option.name | downcase
    if option_name contains 'color' or option_name contains 'colour'
      assign color_count = product_option.values | size
      break
    endif
  endfor

  case collection_family
    when 'new_york'
      assign collection_label = 'products.product.collection_new_york' | t
    when 'new_york_elite'
      assign collection_label = 'products.product.collection_new_york_elite' | t
    when 'power_bank'
      assign collection_label = 'products.product.collection_travel_power' | t
    else
      assign collection_label = collection_family | replace: '_', ' ' | capitalize
  endcase

  assign has_luggage_specs = false
  if shell_material != blank or luggage_type != blank
    assign has_luggage_specs = true
  endif

  assign has_measurements = false
  if case_dimensions.items != blank or case_dimensions.height != blank or case_weight != blank or capacity != blank
    assign has_measurements = true
  endif

  assign has_materials = false
  if shell_material != blank or care_instructions != blank
    assign has_materials = true
  endif
-%}

<section class="non-stop-product-information" aria-labelledby="ProductInformationHeading-{{ product.id }}">
  <header class="non-stop-product-information__header">
    <h2 id="ProductInformationHeading-{{ product.id }}">{{ 'products.product.product_information' | t }}</h2>
  </header>

  <div class="non-stop-product-information__columns">
    <div class="non-stop-product-information__column">
      {%- if has_luggage_specs or product.metafields.custom.usb_charging.value -%}
        <details class="non-stop-product-information__group" open>
          <summary>
            <h3>{{ 'products.product.features_specs' | t }}</h3>
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </summary>
          <dl class="non-stop-product-information__table">
            {%- if luggage_type != blank -%}
              <div><dt>{{ 'products.product.luggage_type' | t }}</dt><dd>{{ luggage_type }}</dd></div>
            {%- endif -%}
            {%- if product.metafields.custom.spinner_wheels.value -%}
              <div><dt>{{ 'products.product.wheel_type' | t }}</dt><dd>{{ 'products.product.spinner_360' | t }}</dd></div>
            {%- endif -%}
            {%- if product.metafields.custom.tsa_lock.value -%}
              <div><dt>{{ 'products.product.lock_type' | t }}</dt><dd>{{ 'products.product.recessed_tsa_lock' | t }}</dd></div>
            {%- endif -%}
            {%- if shell_material != blank and product.metafields.custom.expandable != blank -%}
              <div><dt>{{ 'products.product.expandable' | t }}</dt><dd>{% if product.metafields.custom.expandable.value %}{{ 'products.product.yes' | t }}{% else %}{{ 'products.product.no' | t }}{% endif %}</dd></div>
            {%- endif -%}
            {%- if expansion_size != blank -%}
              <div><dt>{{ 'products.product.expansion_size' | t }}</dt><dd>{{ expansion_size | metafield_text }}</dd></div>
            {%- endif -%}
            {%- if product.metafields.custom.usb_charging.value -%}
              <div><dt>{{ 'products.product.usb_charging' | t }}</dt><dd>{{ 'products.product.usb_charging_ready' | t }}</dd></div>
            {%- endif -%}
            {%- if product.metafields.custom.usb_charging.value and product.metafields.custom.power_bank_included != blank -%}
              <div><dt>{{ 'products.product.power_bank' | t }}</dt><dd>{% if product.metafields.custom.power_bank_included.value %}{{ 'products.product.included' | t }}{% else %}{{ 'products.product.not_included' | t }}{% endif %}</dd></div>
            {%- endif -%}
            {%- if packing_cube_count > 0 -%}
              <div><dt>{{ 'products.product.packing_cubes' | t }}</dt><dd>{{ 'products.product.packing_cubes_count' | t: count: packing_cube_count }}</dd></div>
            {%- endif -%}
          </dl>
        </details>
      {%- endif -%}

      {%- if has_measurements -%}
        <details class="non-stop-product-information__group" open>
          <summary>
            <h3>{{ 'products.product.measurements' | t }}</h3>
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </summary>
          <dl class="non-stop-product-information__table">
            {%- if case_dimensions.items != blank -%}
              {%- for item in case_dimensions.items -%}
                <div>
                  <dt>{{ item.label }}</dt>
                  <dd>{{ item.height }} × {{ item.width }} × {{ item.depth }} {{ case_dimensions.unit }}</dd>
                </div>
              {%- endfor -%}
            {%- elsif case_dimensions.height != blank -%}
              <div>
                <dt>{{ 'products.product.item_dimensions' | t }}</dt>
                <dd>{{ case_dimensions.height }} × {{ case_dimensions.width }} × {{ case_dimensions.depth }} {{ case_dimensions.unit }}</dd>
              </div>
            {%- endif -%}
            {%- if case_weight != blank -%}
              <div><dt>{% if is_kit %}{{ 'products.product.total_weight' | t }}{% else %}{{ 'products.product.item_weight' | t }}{% endif %}</dt><dd>{{ case_weight | metafield_text }}</dd></div>
            {%- endif -%}
            {%- if capacity != blank -%}
              <div><dt>{{ 'products.product.capacity' | t }}</dt><dd>{{ capacity | metafield_text }}</dd></div>
            {%- endif -%}
          </dl>
        </details>
      {%- endif -%}

      {%- if has_materials -%}
        <details class="non-stop-product-information__group" open>
          <summary>
            <h3>{{ 'products.product.materials_care' | t }}</h3>
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </summary>
          {%- if shell_material != blank -%}
            <dl class="non-stop-product-information__table">
              <div><dt>{{ 'products.product.material' | t }}</dt><dd>{{ shell_material | join: ', ' }}</dd></div>
              <div><dt>{{ 'products.product.shell_type' | t }}</dt><dd>{{ 'products.product.hardside' | t }}</dd></div>
              <div><dt>{{ 'products.product.warranty' | t }}</dt><dd>{{ 'products.product.limited_warranty_3_years' | t }}</dd></div>
            </dl>
          {%- endif -%}
          {%- if care_instructions != blank -%}
            <div class="non-stop-product-information__care">
              <h4>{{ 'products.product.care_instructions' | t }}</h4>
              {{ care_instructions | metafield_tag }}
            </div>
          {%- endif -%}
        </details>
      {%- endif -%}
    </div>

    <div class="non-stop-product-information__column">
      <details class="non-stop-product-information__group" open>
        <summary>
          <h3>{{ 'products.product.item_details' | t }}</h3>
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </summary>
        <dl class="non-stop-product-information__table">
          <div><dt>{{ 'products.product.brand' | t }}</dt><dd>{{ product.vendor }}</dd></div>
          {%- if collection_label != blank -%}<div><dt>{{ 'products.product.collection' | t }}</dt><dd>{{ collection_label }}</dd></div>{%- endif -%}
          <div><dt>{{ 'products.product.product_type' | t }}</dt><dd>{{ luggage_type | default: product.type }}</dd></div>
          {%- if color_count > 0 -%}<div><dt>{{ 'products.product.color_options' | t }}</dt><dd>{{ color_count }}</dd></div>{%- endif -%}
          <div><dt>{{ 'products.product.kit_label' | t }}</dt><dd>{% if is_kit %}{{ 'products.product.yes' | t }}{% else %}{{ 'products.product.no' | t }}{% endif %}</dd></div>
        </dl>
      </details>

      {%- if included_items != blank -%}
        <details class="non-stop-product-information__group" open>
          <summary>
            <h3>{{ 'products.product.included_items' | t }}</h3>
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </summary>
          <ul class="non-stop-product-information__list" role="list">
            {%- for item in included_items -%}
              <li>{{ item }}</li>
            {%- endfor -%}
          </ul>
        </details>
      {%- endif -%}

      {%- if feature_bullets != blank -%}
        <details class="non-stop-product-information__group" open>
          <summary>
            <h3>{{ 'products.product.travel_features' | t }}</h3>
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </summary>
          <ul class="non-stop-product-information__list" role="list">
            {%- for bullet in feature_bullets -%}
              <li>{{ bullet }}</li>
            {%- endfor -%}
          </ul>
        </details>
      {%- endif -%}
    </div>
  </div>
</section>
